.mainNav {
    background-color: blue;
    padding: 15px 30px;
}

.mainNav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.mainNav a.active {
    font-weight: bold;
    color: aqua;
}