.App {
    margin: 10px;
}

.searchwrapper {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.searchwrapper form {
    display: flex;
    flex-direction: column;
}

.imagewraper {
    columns: 250px 5;
    column-gap: 10px;
}

.imageitemwrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}